<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>com.babasama.edendale.supported-video</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.BaBaSaMa.Edendale</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edendale</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Edendale connects to the media servers you link (such as SMB shares) to browse and play your own video files.</string>
	<key>TMDBAPIKey</key>
	<string>$(TMDB_API_KEY)</string>
	<key>TMDBReadAccessToken</key>
	<string>$(TMDB_READ_ACCESS_TOKEN)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Edendale-supported video</string>
			<key>UTTypeIdentifier</key>
			<string>com.babasama.edendale.supported-video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
					<string>divx</string>
					<string>xvid</string>
					<string>vob</string>
					<string>asf</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>WyzieAPIKey</key>
	<string>$(WYZIE_API_KEY)</string>
</dict>
</plist>
